:root{
     --blue-dark: #182434;
     --blue-two: #6D829B;
     --blue-gray: #8D98AA;
     --gray-blue: #A3AFBC;
     --gray: #B3BDCA;
     --gray-white: #DCD9D8;
}
.main{
     display: flex;
     position: relative;
     max-height: 100vh;
     flex-direction: column;
     margin: auto;

}
.mainHome{
     padding: 50px;
}
.BodyMain{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.h1Home{
     font-weight: 500;
     font-size: 45px;
}


.itemArea{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px;
     margin-top: 40px;
     margin-bottom: 40px;
}
