.itemInfo{
     width: 172px;
     padding: 13px 15px 13px 13px;
     margin:  40px 55px 55px 55px ;
     min-height: 300px;
     background-color: #fff;
     cursor: pointer;
     border-top-right-radius: 40px;
     border-bottom-left-radius: 40px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.titleItem{
     color: #000;
     margin: 0;
     margin-top: 5px;
     text-align: center;
}
.descriptionItem{
     color: #000;
}
.imgItem{
     width: 147px;
     height: 147px;
     object-fit: cover;
     border-top-right-radius: 40px;
}

.descriptionItem{
     font-size: 13px;
     text-align: center;
}